doctype html

html(lang='en')
	head
		meta(charset='utf-8')

		meta(name='viewport', content='width=800, initial-scale=1')
		link(rel="stylesheet", type="text/css", href="css/style.css")
		script(type="text/javascript" src="js/react.js")
		script(type="text/javascript" src="js/app.min.js")
	body
		div#target

		script(type="text/javascript" src="views/views.min.js")

